# Default ignored files
/workspace.xml
/tasks.xml
/dictionaries

# Sensitive or high-churn files:
/dataSources.ids
/dataSources.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml

# Gradle:
/gradle.xml
/libraries